* {
    margin: 0;
    padding: 0;
}

$padding-top: 3rem;
$padding-bottom: 3rem;
$padding-left: 7vw;
$padding-right: 7vw;

$color-gray-1: rgb(245, 245, 245);
$color-gray-2: rgb(69, 57, 81);
$color-gray-3: rgb(119, 110, 127);
$color-gray-4: rgb(42, 39, 46);
$color-gray-5: #666666;

$color-nuetral-0: #fff;
$color-nuetral-9: black;
$color-red-1: rgb(234, 98, 61);
