* {
  margin: 0;
  padding: 0; }

.footer {
  margin: 0;
  background-color: #2a272e;
  color: #776e7f; }

.footer-label {
  margin-bottom: 1rem;
  font-size: 14px;
  letter-spacing: 0.05rem; }

.footer-address {
  color: whitesmoke; }

.footer-addres-phone {
  margin-top: 1rem;
  color: #fff; }

.footer-tweet-date {
  color: #453951;
  font-size: 0.75rem;
  text-transform: uppercase; }

.footer-tweet {
  color: whitesmoke; }
  .footer-tweet a {
    color: #ea623d; }
