* {
  margin: 0;
  padding: 0; }

.nav {
  margin-right: 0.5rem; }

.header {
  padding: 2rem 7vw 2rem 7vw;
  margin: 0; }

.menu-logo {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 600;
  color: #776e7f; }
  .menu-logo img {
    margin-right: 0.5rem; }

.nav-item {
  color: #ea623d; }
  .nav-item:hover {
    color: #fff;
    cursor: pointer; }

.menu-item {
  justify-content: center;
  align-items: center;
  display: flex;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-right: 1rem; }
  .menu-item:hover {
    border-bottom: 2px solid #ea623d;
    cursor: pointer; }
  .menu-item i {
    margin-left: 0.25rem; }
